# Compiled class files
*.class

# Log files
*.log

# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.save

# Gradle
.gradle/
build/
!gradle-wrapper.jar
!gradle-wrapper.properties
!gradle-wrapper/
.gradle/
build/
!gradle-wrapper.jar
!gradle-wrapper.properties

# Spring Boot specific
spring-boot-devtools.properties
spring-boot-devtools.jar

# Eclipse
.project
.classpath
.settings/
.metadata/

# IntelliJ IDEA
.idea/
*.iml
*.iws

# NetBeans
nbproject/private/
nbbuild/
nbdist/
nbactions.xml

# VS Code
.vscode/

# Operating System files
.DS_Store
Thumbs.db

# Others
*.jar
*.war
*.ear
*.swp
*.swo
*.sublime-workspace
*.sublime-project